<!doctype html>

<html>
<%= stylesheet_link_tag "bootstrap" %>

<body>
<img src="https://uchicago.s3.amazonaws.com/d0<%=@mygame.dice[0].number.to_s%>.png" width="400" height="400">
<img src="https://uchicago.s3.amazonaws.com/d0<%=@mygame.dice[1].number.to_s%>.png" width="400" height="400">

<h3>Your goal is now <%= @mygame.firstRollTotal%>.</h3>
<h3>Try to roll a <%= @mygame.firstRollTotal %> again before you roll a 7.</h3>

<form method="routes.rb" action="roll_again">
  <input type="submit" value = "Roll Again">
  <input type="hidden" name="first_roll_total" value = "<%= @mygame.firstRollTotal %>" hidden = yes>
</form>

</body>

</html>
