<!doctype html>

<html>

<body>
<%= stylesheet_link_tag "bootstrap" %>
<img src="https://uchicago.s3.amazonaws.com/d0<%=@mygame.dice[0].number.to_s%>.png" width="400" height="400">
<img src="https://uchicago.s3.amazonaws.com/d0<%=@mygame.dice[1].number.to_s%>.png" width="400" height="400">


<h3>You rolled <%= @mygame.rollTotal %>.</h3>
<h3>You Win.</h3>
<form method="routes.rb" action="dicegame">
  <input type="submit" value="Roll the dice to start again.">
</form>
</body>
</html>
