<!doctype html>

<html>
<head>
  <title>Dice Game</title>
</head>
<body>

  <h1>Dice Game</h1>
  <hr>
  <h2>Welcome.</h2>
  <p>Rules of the game:</p>
  <ul>
    <li>Roll the dice to start the game</li>
    <li>If your first roll is a 7 or 11, you win.</li>
    <li>If your first roll is a 2, 3 or 12, you lose.</li>
    <li>Anything else you roll becomes your <strong>goal</strong>. Roll your goal again before rolling a 7, and you win. Roll a 7 before rolling your goal, and you lose.</li>
</ul>

    <form method="routes.rb" action="dicegame">
      <input type="submit" value="Roll dice to begin!">
    </form>


  </body>

  </html>


